<!--
  Note: Ctrl + C - Selected rows or cells data without header.
        Ctrl + Shift + H - Selected rows or cells data with header.
 -->

<div class="control-section">
  <div class="col-lg-8 col-md-8">
    <ejs-treegrid
      #treegrid
      [dataSource]="data"
      [treeColumnIndex]="treeColumnIndex"
      [sortSettings]="sortSettings"
      [allowFiltering]="isSearchable"
      [allowSorting]="isSortable"
      [childMapping]="childMapping"
      [allowPaging]="isPaginated"
      [pageSettings]="pageSettings"
      enableHover="true"
      [frozenRows]="1"
      [frozenColumns]="1"
      [contextMenuItems]="contextMenuItems"
      [editSettings]="editing"
      allowExcelExport="true"
      allowPdfExport="true"
      [allowReordering]="true"
      [toolbar]="toolbar"
      [allowSelection]="true"
      [selectionSettings]="selectionSettings"
      (toolbarClick)="toolbarClick($event)"
      [allowTextWrap]="false"
      [showColumnChooser]="true"
      [height]="400"
    >
      <!-- [allowRowDragAndDrop]='true' -->
      <e-columns>
        <ng-container *ngFor="let columnkey; in: headerDataKeys; let i = index">
          <div *ngIf="columnkey !== 'subtasks'">
            <e-column
              [field]="columnkey"
              [headerText]="columnkey.uppercase()"
              [textAlign]="textAligntextAlign"
              [format]="columnkey.includes('date') ? format : ''"
              [edit]="editparams"
              [editType]="data[0][columnkey].includes('date') ? 'datepickeredit' : 'numericedit'"
              filter="filter"
              [width]="100"
            >
            </e-column>
          </div>
        </ng-container>
      </e-columns>
    </ejs-treegrid>
  </div>
  <!-- Dialog for if row copy paste without header -->
  <ejs-dialog
    #alertDialog
    [buttons]="alertDlgButtons"
    [visible]="hidden"
    [header]="alertHeader"
    [animationSettings]="animationSettings"
    [content]="alertContent"
    [showCloseIcon]="showCloseIcon"
    [target]="target"
    [width]="alertWidth"
  >
  </ejs-dialog>
</div>

<div class="col-lg-4 property-section container-fluid">
  <div class="property-panel-section">
    <h3 class="property-panel-header">Freeze Columns</h3>
    <!-- freeze column on/off -->
    <div class="property-panel-content">
      <table id="property" class="property-panel-table" title="Properties">
        <tr>
          <td>
            <p>Frozen Rows</p>
          </td>
          <td>
            <div id="frozeninput">
              <ejs-numerictextbox #rows min="0" max="5" format="n" value="2"></ejs-numerictextbox>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <p>Frozen Columns</p>
          </td>
          <td>
            <div id="frozeninput">
              <ejs-numerictextbox #columns min="0" [max]="5" format="n" value="1"></ejs-numerictextbox>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <div id="buttonSet">
              <button class="freeze-btn" ejs-button (click)="btnClick()">Set</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <!-- filtering on/of -->
    <div class="property-panel-content">
      <table id="property" class="property-panel-table" title="Properties" style="width: 100%">
        <tr style="height: 50px">
          <td style="width: 50%">
            <h4 style="width: 100px">Filter Search Hierarchy Mode</h4>
          </td>
          <td style="width: 50%">
            <div>
              <ejs-dropdownlist
                #dropdown1
                id="mode"
                width="100px"
                [dataSource]="d1data"
                [fields]="fields1"
                value="Parent"
                (change)="change($event)"
              ></ejs-dropdownlist>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-lg-3 property-section">
    <div class="property-panel-section">
      <h3 class="property-panel-header">Clipboard Copy/Paste Mode</h3>
      <table id="property" class="property-panel-table" title="Properties" style="width: 100%">
        <tr style="height: 50px">
          <td style="width: 50%">
            <h4 style="width: 100px">Hierarchy Mode</h4>
          </td>
          <td style="width: 50%">
            <div>
              <ejs-dropdownlist
                #dropdown1
                id="mode"
                width="100px"
                [dataSource]="clipboardOptions"
                [fields]="fields1"
                value="Parent"
                (change)="changeClipBoard($event)"
              ></ejs-dropdownlist>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Multi Select on/of -->
  <!-- <div class="property-panel-section">
    <h4 class="property-panel-header">Multi Sort column Enable and disable</h4>
    <table id="property" class="property-panel-table" title="Properties" style="width: 100%">
      <ng-container *ngFor="let column; in: headerDataKeys; let i = index">
        <tr>
          <td style="width: 70%">
            <div>
              {{ column }}
            </div>
          </td>
          <td style="width: 30%; padding: 10px 10px 10px 0px">
            <div class="col-md-6">
              <ejs-checkbox [checked]="true" (change)="onMultiSort(column, $event)"></ejs-checkbox>
            </div>
          </td>
        </tr>
      </ng-container>
    </table>
  </div> -->
  <!-- end of multi select on of -->
</div>
