.container-fluid {
  margin-left: 2vw;
  margin-top: 2vh;
}

/* freeze dropdoen */
.control-section {
}
#buttonSet {
  float: right;
}
#frozeninput {
  min-width: 148px;
}

/* filter on / of */
.e-mastertext {
  font-size: 15px;
  font-family: Roboto;
  opacity: 0.87;
  padding: 1em;
}

.e-toolbar-item.e-ghidden .e-btn {
  background: rgba(0, 0, 0, 0.12);
  border-color: rgba(0, 0, 0, 0.12);
  color: #212121;
}

/* overview section docs:  header menu */
.e-image {
  height: 13px;
  width: 14px;
  vertical-align: middle;
}

.statustemp {
  position: relative;
  height: 19px;
  border-radius: 15px;
  text-align: center;
  background-color: #cff0dc;
  color: #00752f;
  width: 47px;
}

.statustemp.e-lowgdp {
  background-color: #ffdbdb;
  color: #bd0000;
}

td.e-rowcell .statustxt {
  color: #00cc00;
  position: relative;
}

td.e-rowcell .statustxt.e-lowgdp {
  color: #e60000;
  position: relative;
}

.rating .star {
  font-size: 132%;
  color: lightgrey;
}

.rating .star.checked {
  color: #ffa600;
}

.rating .star:before {
  content: "★";
}
.negativeTimeZone {
  transform: rotate(180deg);
}
#myBar {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #00b300;
}

#myBar.progressdisable {
  background-color: #df2222;
}

#label {
  position: relative;
  left: 10px;
  line-height: 18px;
  font-size: 10px;
  color: white;
}
.highcontrast .e-grid #myProgress {
  background-color: black;
}
#myProgress {
  position: relative;
  height: 18px;
  width: 10em;
  text-align: left;
  background-color: white;
}
#myBar.progressdisable {
  background-color: #df2222;
}

/* Mobile Adaptive data grid responsiveness  */
#typeddl {
  min-width: 100px;
}

/* The device with borders */
.e-mobile-layout {
  position: relative;
  width: 360px;
  height: 640px;
  margin: auto;
  border: 16px #f4f4f4 solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
  box-shadow: 0 0px 2px rgb(144 144 144), 0 0px 10px rgb(0 0 0 / 16%);
}

/* The horizontal line on the top of the device */
.e-mobile-layout:before {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ebebeb;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.e-mobile-layout:after {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #e8e8e8;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.e-mobile-layout .e-mobile-content {
  overflow-x: hidden;
  width: 328px;
  height: 521px;
  background: white;
  border: 0px solid #dddddd;
}

.highcontrast .e-mobile-layout {
  border: 16px #000000 solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  box-shadow: -1px 2px white, -2px -2px white, 2px -2px white, 2px 1px white;
}

@media only screen and (max-width: 600px) {
}
